@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --background: darkslategray;
    --theme-color: lightgoldenrodyellow;
    --font-roboto: Roboto;
}

body {
    background-color: var(--background);
    font-family: var(--font-roboto);
}

header {
    border-bottom: 4px solid var(--theme-color);
}

header h1 {
    color: var(--theme-color);
    font-size: 4rem;
    text-align: center;
    margin: 30px 0;
}

#add-book-button {
    background-color: var(--background);
    color: var(--theme-color);
    border: 3px solid var(--theme-color);
    padding: 16px;
    font-weight: 500;
    cursor: pointer;
    margin: 30px auto;
    font-size: 1.3rem;
    display: block;
}

#add-book-button:hover {
    background-color: var(--theme-color);
    color: var(--background);
}

#book-container {
    width: 80%;
    margin: 30px auto;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-auto-rows: 280px;
    gap: 50px;
}

.book-card {
    background-color: var(--theme-color);
    color: var(--background);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.book-title {
    font-size: 2rem;
    font-weight: bold;
}

.book-author {
    font-size: 1.7rem;
    font-weight: 500;
}

.book-pages,
.book-has-read {
    font-size: 1.3rem;
    font-weight: 500;
}

::backdrop{
    backdrop-filter: blur(3px);
}

dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    background-color: var(--theme-color);
    border: 4px solid var(--background);
    color: var(--background);
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.1rem;
}

form > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label {
    font-weight: 500;
}

input {
    padding: 5px;
    color: var(--background);
    border: 2px solid var(--background);
    background-color: var(--theme-color);
}

input:focus:not([type="checkbox"]) {
    outline: 2px solid var(--background);
}

input[type="checkbox"] {
    accent-color: var(--background);
    border: 2px solid var(--background);
    cursor: pointer;
    position: relative;
    top: -1px;
}

form button {
    width: 50%;
    align-self: center;
    padding: 10px;
    cursor: pointer;
}

.form-heading {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.add-has-read {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.submit {
    background-color: lightgreen;
    border: 2px solid darkgreen;
    color: darkgreen;
}

.cancel {
    background-color: lightcoral;
    border: 2px solid darkred;
    color: darkred;
}
